# Python environment
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
venv

# Data processing leftovers
*.log

# Editor-specific settings
.vscode/

# Mac system
.DS_Store

# Files to be deleted (once no longer needed)
Project\ Case\ Study\ -\ Scottish\ Outbound\ Trade\ -\ 2008\ to\ 2023.pages

# Ignore Excel temporary files
~$*
~$ESS+2023+-+Published+Tables.xlsx

# Ignore specific files
app/app_test_update.py

# Ignore local working folder
drafts/
retired_scripts/